{% extends "main.html" %}

{% block content %}
    <div style="height: 100%; background-image: url({{ url_for('static', filename='margherita-pizza-993274.jpg') }}); background-size: cover;">
        <div class="container">
            <h1>Alle Restaurants, in deiner Nähe</h1>

            <span>Finde jetzt heraus welche guten Restaurants in deiner Nähe sind und bewerte sie!</span>

            <form action="/foodshops" method="get">
                    <div>
                        <input class="form-control" type="text" placeholder="Gib deine aktuelle Adresse ein">
                        <input class="btn btn-success" type="submit" value="Restaurants finden!">
                    </div>
            </form>
        </div>
    </div>
{% endblock %}
