{% extends "main.html" %}

{% block content %}
    <div style="background-image: url({{ url_for('static', filename='margherita-pizza-993274.jpg') }}); background-size: cover;">
        <div class="container">
            <h1>Alle Restaurants, in deiner Nähe</h1>

            <span>Finde jetzt heraus welche guten Restaurants in deiner Nähe sind und bewerte sie!</span>

            <form>
                <div>
                    <div>
                        <input class="form-control" type="text" placeholder="Gib deine aktuelle Adresse ein">
                        <a href="/foodshops" class="btn btn-success">Restaurants finden!</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
